include text_models/data/emojis.dict
include text_models/data/CP.info
include text_models/data/CP.desc
include text_models/data/bbox.dict
include text_models/data/state.dict
include text_models/data/bbox_country.dict
include text_models/data/bbox_coords.dict
include text_models/data/country-loc.ds
include text_models/data/country.ds
include text_models/tests/tweets.json.gz